.main {
  width: 100%;

  &__content {
    max-width: 100%;
    padding: 30px 30px 0 30px;
    &__banner {
      background-color: var(--secondary);
      padding: 30px;
      border-radius: 5px;
    }
    &__category {
      margin: 30px 0 20px 0;
      // display: flex;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;

      flex-wrap: wrap;
    }
    &__recommendation {
      width: 100%;
      margin: 30px 0 20px 0;
    }
  }
  &__arrow {
    width: 50px;
    z-index: 999;
    height: 50px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    scale: 1;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
  &__arrowHidden {
    width: 50px;
    z-index: 999;
    height: 50px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    position: fixed;
    right: 20px;
    bottom: -50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    scale: 0;
    opacity: 0;
  }
}
