.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--secondary);
  border-radius: 15px;
  box-shadow: 1px 1px 1px #858585;
  &:hover {
    cursor: pointer;
    translate: 0 -10px;
  }
  &__image {
    &__icon {
      font-size: 36px;
      text-align: center;
    }
  }
  &__name {
    &__text {
      color: var(--primary);
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
