.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary);
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__content {
    padding: 40px 10px;
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    border: 1px solid var(--primary);
    &__form {
      width: 80%;
    }
    &__link {
      text-decoration: none;
      color: var(--primary);
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 30px;
      border-bottom: 1px solid var(--primary);
    }
    &__button {
      width: 100%;
      &__google {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid var(--primary);
        background-color: var(--secondary);
        color: var(--primary);
        :disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &__icon {
          font-size: 24px;
        }
      }
      &__google:hover {
        cursor: pointer;
        background-color: #dddddd;
      }
    }
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 20px;
}
